
.table {
    transition: margin-left 0.3s;
    position: absolute;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 95% !important;
}

.with-sidebar {
    margin-left: 255px; /* Ajuste conforme o tamanho da barra lateral */
    width: 80% !important;
}

#div-usuarios {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
  }
  
  .close {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }