/* produtosStyle.css */
.table {
    transition: margin-left 0.3s;
    position: absolute;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 95% !important;
}

.with-sidebar {
    margin-left: 255px !important; /* Ajuste conforme o tamanho da barra lateral */
    width: 80% !important;
}

#div-produtos {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}